
.dm-sans-normal {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: rgba(23, 23, 23, 1);
}

/*nav style*/

.logo{
    color: rgb(255, 255, 255);
}

.primary-color{
    color: rgba(39, 174, 96, 1);
}

.navigationbar{
    display: flex;
    align-items: center;
    margin: 28px 87px 0px 80px;
    justify-content: space-between;
}

nav ul li {
    list-style: none;
    margin-right: 40px;
}

li a {
    text-decoration: none;
    color: #ffffff;
}

nav ul {
    display: flex;
}

